* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.shopTitle {
    margin-top: 50px;
    text-align: center;
    font-size: 25px;
}

.product img {
    width: 300px;
    height: 250px;
}

.products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 15px;
}

.product {
    border-radius: 25px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
    justify-content: center;
}

.product .description {
    text-align: center;
    padding: 10px 80px;
}

.addToCartBtn {
    background-color: transparent;
    border: 2px solid rgb(19, 19, 19);
    min-width: 100px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 15px;
    margin-top: 1rem;
}

.addToCartBtn:hover {
    background-color: rgb(19, 19, 19);
    cursor: pointer;
    color: white;
}

/* @media (min-width: 900px) {
    .products { grid-template-columns: repeat(3, 1fr); }
  }

@media (min-width: 600px) {
    .products { grid-template-columns: repeat(2, 1fr); }
  } */