body {
    margin: 0 auto;
    padding: 0;
}

.title a {
    text-decoration: none;
    color: white;
    margin-left: 25px;
    font-size: 25px;
}

.navbar {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul a{
    display: block;
    color: white;
    margin-right: 25px;
}